body {
	background-image: url("https://jbadlato.github.io/img/stone.JPG");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
}

#title_section {
	background: rgb(150,150,150);
	background: rgba(150,150,150,0.75);
	text-align: center;
}

#mypic {
	width: 30%;
	height: 30%;
}

.profile_link {
	width: 5%;
	height: 5%;
	margin: 2%;
}

.project_title {
	display: inline-block;
}

.source_code_link {
	width: 3%;
	height: 3%;
	float: right;
}